
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive use only -->
<body bgcolor="#000">
    <br><br><h1 style="text-align: center;">
      <a href="itms-services://?action=download-manifest&url=https://francek.laravel.touchmediahost.com/ios/manifest.plist" style="color: #f1dd8e"><img style="max-width: 300px; width: 300px;" src="image.512x512.png"/><br>Install Francek App</a>
</body>